.App {
  text-align: center;
}


.App-footer {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


hr {
  color: #61dafb;
}

.board {
  
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.game {
  margin: 40px 40px;
  padding: 40px 40px;
  background-color:azure;
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left:40px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 38px;
  height: 38px;
  padding: 0;
  text-align: center;
  width: 38px;
}

.square:focus {
  outline: none;
}