.App {
  text-align: center;
}


.App-footer {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h1, h2, h3 {
  padding: 0;
  margin: 0;
}

hr {
  color: #61dafb;
}

.board {
  min-width: 280px;
  padding-top: 20px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.game {
  margin: 20px;
  padding: 20px 20px;
  background-color:azure;
  width: 280px;
}

.game-info {
}

.reset {
  background-color: rgb(3, 66, 148); 
  border: none;
  border-radius: 1rem;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 38px;
  height: 38px;
  padding: 0;
  text-align: center;
  width: 38px;
}

.square:focus {
  outline: none;
}